In [119]:
import pandas as pd
import numpy as np
import sympy as sp
import matplotlib.pyplot as plt
from openpyxl import load_workbook

In [ ]:
perfiles = pd.read_excel('T2.xlsx', usecols="B:E", nrows=11, skiprows=3, index_col='Perfil')
perfiles

In [121]:
h = perfiles.loc[1, 'h [mm]']
b = perfiles.loc[1, 'b [mm]']
t = perfiles.loc[1, 't [mm]']
h, b, t

(25.0, 50.0, 5.0)

In [122]:
area_total= (t*(h-t)) + (b*t) 
area_total

350.0

In [123]:
area1= (t*b)
area1

250.0

In [124]:
area2= (t*(h-t))
area2

100.0

In [125]:
y= (t*(h-t)*((h-t)/2)) + ((b*t)*((h-t)+(t/2)))
y

6625.0

In [126]:
ybarra= y/area_total
ybarra

18.928571428571427

In [127]:
##Inercia en el eje x figura 1 
i1x= ((b*(t**3))/12) + ((t*b)*(((h-t)+(t/2))-ybarra)**2)
i1x

3709.608843537418

In [128]:
## Inercia en el eje x figura 2 
i2x= ((t*(h-t)**3)/12) + ((t*(h-t))*(ybarra-((h-t)/2))**2)
i2x

11305.272108843536

In [129]:
## Momento de inercia en x 
Mix= i1x + i2x
Mix

15014.880952380954

In [130]:
momento_maximo= 3.209345
momento_maximo

3.209345

In [140]:
##Esfuerzo en MPa

esfuerzo= (((momento_maximo*10**6)*ybarra)/(Mix))
esfuerzo

4045.873974231912

In [145]:
resultados= perfiles 
resultados['Area (mm2)']= (perfiles ['t [mm]']*(perfiles ['h [mm]'] - perfiles ['t [mm]'])) + (perfiles ['b [mm]']*perfiles ['t [mm]'])
resultados['Area (mm2)']

perfil
1.0      350.00
2.0      464.75
3.0      594.00
4.0      791.00
5.0     1202.75
6.0     1449.00
7.0     1700.00
8.0     2282.75
9.0     2951.00
10.0    3825.00
NaN         NaN
Name: Area (mm2), dtype: float64

In [147]:
## ((b*(t**3))/12) + ((t*b)*(h - ybarra - (t/2))**2) + ((t*(h-t)**3)/12) + ((t*(h-t))*(ybarra-((h-t)/2))**2)
resultados['Inercia (mm4)']= ((perfiles ['b [mm]']*(perfiles ['t [mm]']**3))/12) + ((perfiles ['t [mm]']*perfiles ['b [mm]'])*(perfiles ['h [mm]']- ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])/2)) + ((perfiles ['b [mm]']*perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])+(perfiles ['t [mm]']/2)))) / ((perfiles ['t [mm]']*perfiles ['b [mm]']) + (perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])))  - (perfiles ['t [mm]']/2))**2) + ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])**3)/12) + ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]']))*(((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])/2)) + ((perfiles ['b [mm]']*perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])+(perfiles ['t [mm]']/2)))) / ((perfiles ['t [mm]']*perfiles ['b [mm]']) + (perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]']))) -((perfiles ['h [mm]']-perfiles ['t [mm]'])/2))**2)
resultados['Inercia (mm4)']

perfil
1.0     1.501488e+04
2.0     2.910029e+04
3.0     5.113253e+04
4.0     8.866585e+04
5.0     2.115530e+05
6.0     3.036222e+05
7.0     4.318137e+05
8.0     7.908459e+05
9.0     1.337393e+06
10.0    2.186057e+06
NaN              NaN
Name: Inercia (mm4), dtype: float64

In [148]:
##((t*(h-t)*((h-t)/2)) + ((b*t)*((h-t)+(t/2)))) / ((t*b) + (t*(h-t)))
resultados['y barra mm']= ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])/2)) + ((perfiles ['b [mm]']*perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])+(perfiles ['t [mm]']/2)))) / ((perfiles ['t [mm]']*perfiles ['b [mm]']) + (perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]']))) 
resultados['y barra mm']

perfil
1.0     18.928571
2.0     22.900888
3.0     26.873737
4.0     30.659292
5.0     38.417845
6.0     42.642857
7.0     46.176471
8.0     53.935139
9.0     61.693833
10.0    69.264706
NaN           NaN
Name: y barra mm, dtype: float64

In [149]:
##esfuerzo= (((momento_maximo*10**6)*ybarra)/(Mix))
resultados['Esfuerzo en (MPa)']= ((momento_maximo *10 ** 6)*resultados['y barra mm'])/(resultados['Inercia (mm4)'])
resultados['Esfuerzo en (MPa)']

perfil
1.0     4045.873974
2.0     2525.639850
3.0     1686.736294
4.0     1109.742366
5.0      582.814355
6.0      450.743226
7.0      343.194800
8.0      218.875096
9.0      148.046824
10.0     101.687348
NaN             NaN
Name: Esfuerzo en (MPa), dtype: float64

In [150]:
##perfil optimo 
area_minima= resultados['Area (mm2)'].min()
area_minima

350.0

In [151]:
perfiles.iloc[0]

h [mm]                  25.000000
b [mm]                  50.000000
t [mm]                   5.000000
Area (mm2)             350.000000
Inercia (mm4)        15014.880952
y barra mm              18.928571
Esfuerzo en (MPa)     4045.873974
Name: 1.0, dtype: float64

In [152]:
indice = resultados['Area (mm2)'].idxmin()
indice

1.0

In [153]:
perfiles.iloc[[indice], :]

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo en (MPa)
perfil,,,,,,,
2.0,30.0,60.0,5.5,464.75,29100.288801,22.900888,2525.63985

In [154]:
esfuerzo_menor_250= resultados['Esfuerzo en (MPa)']<=250
esfuerzo_menor_250

perfil
1.0     False
2.0     False
3.0     False
4.0     False
5.0     False
6.0     False
7.0     False
8.0      True
9.0      True
10.0     True
NaN     False
Name: Esfuerzo en (MPa), dtype: bool

In [156]:
filtro= resultados['Esfuerzo en (MPa)']<=250
resultados[filtro]

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo en (MPa)
perfil,,,,,,,
8.0,70.0,140.0,11.5,2282.75,7.908459e+05,53.935139,218.875096
9.0,80.0,160.0,13.0,2951.00,1.337393e+06,61.693833,148.046824
10.0,90.0,180.0,15.0,3825.00,2.186057e+06,69.264706,101.687348

In [157]:
resultados.loc[filtro, 'Area (mm2)']

perfil
8.0     2282.75
9.0     2951.00
10.0    3825.00
Name: Area (mm2), dtype: float64

In [159]:
area_minima_perfil_optimo= resultados.loc[filtro, 'Area (mm2)'].min()
area_minima_perfil_optimo

2282.75

In [161]:
indice_perfil = resultados.loc[filtro, 'Area (mm2)'].idxmin()
indice_perfil
##El perfil optimo para este ejercicicio es el numero 8 ya que su area es minima y resite el mayor esfuerzo sin sobrepasar el admisible que es 250

8.0

In [172]:
perfil_optimo= perfiles.loc[[indice_perfil], :]
perfil_optimo

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo en (MPa)
perfil,,,,,,,
8.0,70.0,140.0,11.5,2282.75,790845.875617,53.935139,218.875096

In [174]:
perfil_ultimo= perfiles.loc[[indice_perfil], :'t [mm]']
perfil_ultimo

        h [mm]  b [mm]  t [mm]
perfil
8.0       70.0   140.0    11.5

In [178]:
##funcion para que aparexca la linea de perfil_ultimo en el excel 
from openpyxl import load_workbook 
with pd.ExcelWriter('T2.xlsx', mode='a',if_sheet_exists="overlay", engine='openpyxl') as writer:
    # configurando sheets
    book = load_workbook('T2.xlsx')
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

    perfil_ultimo.to_excel(writer, startrow=18, startcol=2, sheet_name='Perfiles', index=None)